@(addUser: Form[User])

@import helper._
@main("Welcome to The Category page") {
 @helper.form(action = routes.Users.submit) {
        
        <fieldset>
            
            
            @inputText(
                addUser("firstName"), 
                '_label -> "Firstname" 
            )  
              @inputText(
                addUser("lastName"), 
                '_label -> "Lastname" 
            )
              @inputText(
                addUser("email"), 
                '_label -> "Email" 
            )
              @inputText(
                addUser("password"), 
                '_label -> "Password" 
            )
        </fieldset>
        
 
        
   
        
       
            <input type="submit" value="Sign Up" class="button">
            <a href="@routes.Application.index" class="button">Cancel</a>
    }  
    }